from datetime import date

my_user_name = "johnsmith"
jira_url = "https://jira.atlassian.com"

# Change this to a path to the certificate for your server
# or to False to completely ignore verification
# For more info see http://docs.python-requests.org/en/master/user/advanced/#ssl-cert-verification
verify = True

project = 'JRASERVER'
min_key = 1
max_key = 1000

skip_dates = {
    date(2006,  7, 30), # workflow transition jira -> v1
    date(2006,  7, 31), # workflow transition v1 -> v2
    date(2009, 10, 25), # workflow transition v2 -> v3
    date(2010, 10, 22), # workflow transition v3 -> v4
}

# Specify a way to extend the default sections of a ticket
ISSUE_TYPE_KEY='issuetype'
STATUS_KEY='status'


def sections_extension_jira_server(issue_json, sections):
    # this sample prepends all tickets with their status and issue type
    fields = issue_json['fields']
    extra_sections = []
    if STATUS_KEY in fields:
        extra_sections.append(str(fields[STATUS_KEY]['name']))
    if ISSUE_TYPE_KEY in fields:
        extra_sections.append(str(fields[ISSUE_TYPE_KEY]['name']))
    return sections


sections_extension = None
if project == 'JRASERVER':
    sections_extension = sections_extension_jira_server
# comma separated string
extra_fields = ','.join([STATUS_KEY, ISSUE_TYPE_KEY])
