from datetime import date

my_user_name = "johnsmith"
jira_url = "https://jira.atlassian.com"

# Change this to a path to the certificate for your server
# or to False to completely ignore verification
# For more info see http://docs.python-requests.org/en/master/user/advanced/#ssl-cert-verification
verify = True

project = 'JRASERVER'
min_key = 1
max_key = 1000

skip_dates = {
    date(2006,  7, 30), # workflow transition jira -> v1
    date(2006,  7, 31), # workflow transition v1 -> v2
    date(2009, 10, 25), # workflow transition v2 -> v3
    date(2010, 10, 22), # workflow transition v3 -> v4
}

